# ==========================================
# BASES DE DATOS Y CACHÉ
# ==========================================

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_HOST="db"
POSTGRES_PORT="5432"
POSTGRES_DB="echoparse"

REDIS_HOST="cache"
REDIS_PORT="6379"
REDIS_PASSWORD="password"


# ==========================================
# WHISPER AI - MOTOR DE TRANSCRIPCIÓN
# ==========================================

# --- Modelo y Lenguaje ---

# Modelo de IA a cargar. Define el equilibrio entre velocidad y precisión.
# Opciones válidas: "tiny", "base", "small", "medium", "large-v1", "large-v2", "large-v3", "turbo"
# Recomendado: "turbo" (para máxima velocidad y calidad en español).
WHISPER_MODEL="turbo"

# Idioma original del audio (Código ISO 639-1).
# Opciones comunes: "es" (español), "en" (inglés), "fr" (francés), etc.
# Nota: Déjalo vacío ("") para que la IA auto-detecte el idioma (añade algo de latencia).
WHISPER_LANGUAGE="es"


# ---  Hardware y Rendimiento ---

# Procesador a utilizar para la transcripción.
# Opciones válidas: "cpu" (procesador normal), "cuda" (tarjetas gráficas NVIDIA), "auto"
WHISPER_DEVICE="cpu"

# Cuantización (precisión matemática). Vital para optimizar velocidad y memoria RAM.
# Opciones para CPU: "int8" (recomendado, muy rápido), "int16", "float32", "auto"
# Opciones para CUDA: "float16" (recomendado), "int8_float16"
WHISPER_COMPUTE_TYPE="int8"

# Número de hilos (núcleos) del procesador dedicados a Whisper (solo para DEVICE="cpu").
# Opciones: Cualquier número entero ("1", "2", "4", "8"...).
# Nota: Poner "0" forzará el uso de TODOS los núcleos disponibles del PC.
WHISPER_CPU_THREADS="4"

# Número de audios que se pueden procesar exactamente al mismo tiempo en memoria.
# Opciones: "1" (recomendado para PCs normales), "2", "3"... (Aumenta mucho el consumo de RAM).
WHISPER_NUM_WORKERS="1"


# ---  Ajustes Finos de Transcripción ---

# Activar el filtro de silencios (Voice Activity Detection). Acelera bastante el proceso.
# Opciones válidas: "True", "False"
WHISPER_VAD_FILTER="True"

# Precisión de la búsqueda de palabras (Beam Search).
# Opciones válidas: Enteros del "1" al "5".
# Nota: "1" es más rápido pero comete más errores; "5" es el estándar más preciso.
WHISPER_BEAM_SIZE="5"
