# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Monorepo / Herramientas de build
dist/
build/
*.log

venv/
.venv/
env/
.env
.env.* # Ignora .env.local, .env.prod, etc.
!.env.example # archivo de ejemplo
.antigravity/
.antigravityrules
GEMINI.md
.agent/
.agents/
skills-lock.json
