.vscode/
.idea/
.DS_Store
Thumbs.db
dist/
build/
*.log
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.* # Ignora .env.local, .env.prod, etc.
!.env.example # archivo de ejemplo
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
postgres_data/
pgdata/
uploads/
tmp/
media/
